.freelancre .img {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    z-index: 2;
}
.freelancre .img:after {
    content: '';
    background: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
    background: -webkit-linear-gradient(right, #12c2e9, #c471ed, #f64f59);
    background: -o-linear-gradient(right, #12c2e9, #c471ed, #f64f59);
    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    z-index: -1;
}
.freelancre .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.color-font {
   
    color: #12c2e9;
  }